
<div class="box-group">
    <div class="card-group-carousel" id="CarouselOne">
    
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>

        <div class="carousel-control-box carousel-box-next">
            <span class="carousel-control carousel-control-next">&#10148;</span>
        </div>
        <div class="carousel-control-box carousel-box-prev">
            <span class="carousel-control carousel-control-prev">&#10148;</span>
        </div>
           
    </div>
</div>