<style>
    .logo-rotten{
        border-bottom: 1px solid red;
    }

</style>

<center>
    <img src="/img/rotten.png" alt="" class="img-thumbnail logo-rotten" width="300">
</center>




<p class="fs-5 text-center text-white">Filmes mais populares nos cinemas</p>
<div class="box-group">
    <div class="card-group-carousel" id="CarouselOne">
        
        {{#each ThumbMoviesPopular}}
            <div class="card" style="background: url({{this}}); background-size: cover;"></div>
        {{/each}}
  
        <div class="carousel-control-box carousel-box-next">
            <span class="carousel-control carousel-control-next">&#10148;</span>
        </div>
        <div class="carousel-control-box carousel-box-prev">
            <span class="carousel-control carousel-control-prev">&#10148;</span>
        </div>
           
    </div>
</div>
<hr>
<p class="fs-5 text-center text-white">Filmes mais populares nos serviços de Streaming</p>
<div class="box-group">
    <div class="card-group-carousel" id="CarouselTwo">

       
        {{#each ThumbMoviesHome}}
            <div class="card" style="background: url({{this}}); background-size: cover;"></div>
        {{/each}}
       
        <div class="carousel-control-box carousel-box-next">
            <span class="carousel-control carousel-control-next">&#10148;</span>
        </div>
        <div class="carousel-control-box carousel-box-prev">
            <span class="carousel-control carousel-control-prev">&#10148;</span>
        </div>
           
    </div>
</div>

<script src="public/js/CarrouselCardJS.js"></script>